<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Automated Builds with GruntJS</title>

		<meta name="description" content="">
		<meta name="author" content="Mike Copeland">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>GruntJS</h1>
					<h3>Automated Builds for the <strike>Lazy</strike> Efficient Developer</h3>
					<p>
						<img height=200" src="https://pbs.twimg.com/profile_images/2563508262/falgg2jybmhgk16y62lr.png"/>
					</p>
					<p>
						<small>Created by Mike Copeland</small>
					</p>
					<span class="fragment"><small><i>presented using reveal.js</i></small></span>
				</section>

				<section>
					<h2>What is GruntJS</h2>
					<p>
						GruntJS is a JavaScript-based task runner.
					</p>
					<span class="fragment"><p>Cross-Platform</p></span>
					<span class="fragment"><p>NodeJS Based</p></span>
					<span class="fragment"><p>Has an already extensive list of plugins</p></span>
				</section>

				<section data-background="http://i.giphy.com/y8Mz1yj13s3kI.gif">
					<h2>Plugins for everything!</h2>
					<p>Plugins maintained by the Grunt team <br/>(prefixed with (grunt-contrib) for:</p>
					<span class="fragment"><p>JS Minification (grunt-contrib-uglify)</p></span>
					<span class="fragment"><p>JS Linting using JSHint (grunt-contrib-jshint)</p></span>
					<span class="fragment"><p>Running Unit tests using QUnit (grunt-contrib-qunit)</p></span>
					<span class="fragment"><p>Sass Compilation (grunt-contrib-sass)</p></span>
					<span class="fragment"><p>Sass/Compass Compilation (grunt-contrib-compass)</p></span>
					<span class="fragment"><p>File concatenation (grunt-contrib-concat)</p></span>
					<span class="fragment"><p>And...</p></span>
					<span class="fragment"><p><small><i>Wait for it...</i></small></p></span>
				</section>

				<section>
					<section>
					<h2>LiveReload!</h2>
					<p>Built into grunt-contrib-watch</p>
					<span class="fragment">
						<pre><code class="hljs">
watch: {
	options: {
		livereload: true
	},
	js: {
		files: [ 'Gruntfile.js', 'js/reveal.js' ],
		tasks: 'js'
	},
	html: {
		files: [ 'index.html']
	}
},
						</code></pre>
					</span>
					</section>
					<section data-background="img/liveReloadExplode.gif"></section>
				</section>
				<section data-background="http://i.giphy.com/t3Mzdx0SA3Eis.gif">
					<h1>Ready to get started?</h1>
				</section>

				<section>
					<section><h2>
						Step 1: Install NodeJS
					</h2>
					<span class="fragment"><a href="https://nodejs.org/en/download/">https://nodejs.org/en/download/</a></span>
					</section>

					<section>
						<h2>
							Step 2: Install Grunt Command Line Interface
						</h2>
						<span class="fragment">
							<pre>
								<code class="hljs-command">
npm install -g grunt-cli
								</code>
							</pre>
						</span>
					</section>
					<section>
						<h2>
							Step 3: CD to your project directory and create package.json
						</h2>
						<span class="fragment">
							<pre>
								<code class="hljs-command">
cd &lt;your_project_directory&gt;
npm init
								</code>
							</pre>
						</span>
						<span class="fragment">
							npm init will ask a few questions and will create the file for you
						</span>
					</section>
					<section>
						<h2>
							Step 5: Add Grunt as a dependency
						</h2>
						<span class="fragment">
							<pre>
								<code class="hljs-command">
npm install grunt --save-dev
								</code>
							</pre>
						</span>
						<span class="fragment">
							IMPORTANT!: the --save-dev flag will add the dependency to your project's package.json file automatically
						</span>
					</section>
					<section>
						<h2>
							Step 6: Create Gruntfile.js
						</h2>
						<span class="fragment">
							<p>A Gruntfile is comprised of the following parts:</p>
								<ul>
									<li>The "wrapper" function</li>
									<li>Project and task configuration</li>
									<li>Loading Grunt plugins and tasks</li>
									<li>Custom tasks</li>
								</ul>
						</span>
					</section>
					<section>
						<h2>Gruntfile.js</h2>
						<pre><code class="hljs">
module.exports = function(grunt) {

	// Project configuration.
	grunt.initConfig({
		pkg: grunt.file.readJSON('package.json'),
		uglify: {
			options: {
				banner: '/*! <%= pkg.name %> <%= grunt.template.today("yyyy-mm-dd") %> */\n'
			},
			build: {
				src: 'src/<%= pkg.name %>.js',
				dest: 'build/<%= pkg.name %>.min.js'
			}
		}
	});

	// Load the plugin that provides the "uglify" task.
	grunt.loadNpmTasks('grunt-contrib-uglify');

	// Default task(s).
	grunt.registerTask('default', ['uglify']);

};
						</code></pre>
					</section>
					<section>
						OR...
					</section>
					<section>
						<p>You can generate one using grunt-init</p>
						<p>https://github.com/gruntjs/grunt-init-gruntfile</p>
					</section>
					<section>
						<h2>Step 7: Add plugins as needed</h2>
							<pre><code class="hljs-command">
npm install &lt;grunt_plugin&gt; --save-dev
							</code></pre>
						<span class="fragment">
							<p>DON'T FORGET --save-dev!</p>
							<p>It adds the dependency to package.json!</p>
						</span>
					</section>
					<section>
						<h2>Step 8: Add and Configure tasks in your Gruntfile.js</h2>
						<span class="fragment">
							<p>
								<b>PROTIP: You can automatically load grunt-contrib tasks in the Gruntfile by using:</b>
								<pre><code class="hljs">
require('matchdep').filterDev('grunt-*').forEach(grunt.loadNpmTasks);
						</code></pre>
							</p>
							<p>Otherwise, you would need to write:</p>
							<pre><code class="hljs">
grunt.loadNpmTasks( 'grunt-contrib-qunit' );
grunt.loadNpmTasks( 'grunt-contrib-jshint' );
grunt.loadNpmTasks( 'grunt-contrib-cssmin' );
grunt.loadNpmTasks( 'grunt-contrib-uglify' );
grunt.loadNpmTasks( 'grunt-contrib-watch' );
							</code></pre>
						</span>
					</section>
					<section>
						<h2>Step 9: Automate tasks using grunt-contrib-watch</h2>
						<pre><code class="hljs">
watch: {
	css: {
		files: ['css/**/*.scss'],
		tasks: ['sass'],
		options: {
			spawn: false
		}
	}
}
						</code></pre>
					</section>
					<section>
						<h2>Step 10: Run grunt</h2>
						<pre><code class="hljs-command">
grunt &lt;your_task_name&gt;
						</code></pre>
						<span class="fragment">
						<p>Or define your default task(s) in your Gruntfile</p>
						<pre><code class="hljs">
// Default task
grunt.registerTask( 'default', [ 'css', 'js' ] );
						</code></pre>
							<p>And run:</p>
							<pre><code class="hljs-command">
grunt
							</code></pre>
						</span>
					</section>
				</section>
				<section>
					<section>
					<h2>OK... So that is a bit of work for setup</h2>
						<span class="fragment">
							<p>Where are the gains to be had?</p>
						</span>
						<span class="fragment">
							<p>Let's look at new developer setup!</p>
						</span>
					</section>
					<section>
						<h2>For a developer inheriting a project set up in grunt</h2>
						<p>Here's what they would need to do to get up and running: </p>
						<p>
								<pre><code class="hljs-command">
npm init
								</code></pre>
						</p>
					</section>
					<section data-background="http://i.giphy.com/ToMjGpnXBTw7vnokxhu.gif">
						<h2>That's it?</h2>
						<span class="fragment"><h1>Yep!</h1></span>
					</section>
				</section>
				<section data-background="http://i.giphy.com/vMEjhlxsBR7Fe.gif">
					<h1>Thanks!</h1>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
						(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-69143753-1', 'auto');
			ga('send', 'pageview');

		</script>
	</body>
</html>
